button {
  width: 192px;
  height: 54px;
  border: 1px solid #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #db3167;
  &:active {
    outline: 0;
  }

  i {
    margin-left: 8px;
    font-size: 24px;
  }

  &.linear-colored {
    background: linear-gradient(147deg, #f99f00 8%, #db3069 82%);
    color: #fff;

    .children {
      a {
        font-size: 24px;
        color: #fff;
      }
    }
  }
}
